<%= render "layouts/usertopnav" %>

<p id="notice"><%= notice %></p>

<h2><%= current_user.name %>: Tracks</h2>

<p>This is where you'll find all of your tracks</p>

<%= render "layouts/tracklist" %>
