<div style="background-color: #000;">
  <a href="/">
    <img src="/assets/magpielogo.png" class="logo" style="width:80px; ">
  </a>
</div>

<p id="notice"><%= notice %></p>

<h2><%= current_user.name %>: Tracks</h2>

<p>This is where you'll find all of your tracks</p>

<%= render "layouts/tracklist" %>
