<html>

  <body>
      <div id="sidebar">
        <ul class="list-unstyled components">
            <li><a href="#home" class="nav-link">Home</a></li>
            <li><a href="#about" class="nav-link">About</a></li>
            <li><a href="#equipment" class="nav-link">Equipment</a></li>
            <li><a href="#testimonials" class="nav-link">Testimonials</a></li>
            <li><a href="#gallery" class="nav-link">Gallery</a></li>
            <li><a href="#contact" class="nav-link">Contact us</a></li>
            <li><a href="/users/sign_in">Login</a></li>
            <li><a href="/users/sign_up">Sign up</a></li>
        </ul>
        <div class="social-footer w-hidden-medium w-hidden-small w-hidden-tiny">
            <a href="https://www.facebook.com/MagpieStudiosKent/" target="_blank"><img src="https://uploads-ssl.webflow.com/5c463a3854bc908a0034fd43/5c463a3854bc90485534fd98_social-03-white.svg" width="15" alt="" />Facebook</a>
            <a href="https://www.instagram.com/magpiestudioskent/" target="_blank"><img src="https://uploads-ssl.webflow.com/5c463a3854bc908a0034fd43/5c463a3854bc904ae834fd8b_social-08-white.svg" width="17" alt="" />Instagram</a>
            <a href="mailto:info@magpiestudioskent.com?subject=Contact%20from%20website"><img src="https://uploads-ssl.webflow.com/5c463a3854bc908a0034fd43/5c463a3854bc90381b34fd94_social-30-white.svg" width="17" alt="" />Mail us</a>
        </div>


      </div>
  <div id="content">
    <button id="toggle">Hide / Show sidebar</button>
    <div class="hero-banner">
      <div class= "hero-banner-wrapper">
        <h1 class="hero-heading">Magpie Studios Kent</h1>
        <h1 class="hero-subheading">Analog | Digital Hybrid Recording & Production Studio in Kent</h1>
        <h3 class="hero-minorheading">Creating your record is easy with our experience producers and engineers</h3>
        <button><a href="#contact" class="button">Contact us</a></button>
      </div>
  </div>
    <div></div>

    <div id="about">
      <h2>About<h2>
<p>Purpose-built analog/digital recording &amp; production studio set in the idyllic Kent countryside; creating the perfect escape from everyday life to focus on your record. With the studio teams&#x27; guidance and perseverance you can produce record label quality music.</p>
    </div>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card card-services">
            <img class="card-img-top" src="/assets/console.svg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Studio day hire</h5>
              <p class="card-text">Hire the studio from £150 a day, including engineer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class=" card card-services">
            <img class="card-img-top" src="/assets/mic.svg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Per Hour Hire</h5>
              <p class="card-text">Studio hire per hour is available from £25, including engineer.</p>
            </div>
          </div>        </div>
        <div class="col">
          <div class="card card-services">
            <img class="card-img-top" src="/assets/camera.svg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Audio / Video Packages</h5>
              <p class="card-text">We offer video packages with Visual Line Ltd, a Kent-based video company, providing live studio sessions and recording diaries for bands and solo artists. Prices start at £200.</p>
            </div>
          </div>        </div>
      </div>
    </div>

<div><p>Session musicians are available on request. Please get in contact for quotes</p></div>

<div id="MagpieMastered">
  <h1>Access your tracks. Any time. Anywhere</h1>
  <p> When you choose Magpie Studios, you&#x27;ll receive a MagpieMastered account. We&#x27;ll upload mastered tracks to your account, so that you have access, whenever you need them.</p>
  <div><%= link_to "Login", "#{user_session_path}", class: "button" %></div>
</div>

<div id="equipment" >
    <h2>Outboard equipment, instruments and microphones</h2>

<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Outboard and preamps
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <ul>
            <li>Audient ASP800 8 Channel Mic Pre</li>
            <li>RME Fireface 802</li>
            <li>Slate Digital &#x27;VMS One&#x27; Mic Pre</li>
            <li>Tech21 Sansamp RBI Bass Mic Pre</li>
            <li>Tascam DM3200 Class A Console Mic Pre</li>
            <li>Stam Audio SSL G Series Bus Compressor</li>
            <li>Stam Audio SA76 (Bluestripe 1176)</li>
            <li>Warm Audio WA76 (1176 RevD Blackface)</li>
            <li>Warm Audio EQP-WA ( Pultec EQP1A Clone)</li>
            <li>DBX 160a Compressor</li>
            <li>DBX 266 XS Compressor</li>
            <li>GateRadial Engineering Pro DI</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          In-house instruments and amps
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <ul>
            <li>5 Piece Mapex Drum Kit with Remo Clear Heads</li>
            <li>Marshall 1960a Lead 300w 4 x 12 Guitar Cabinet w/ Vintage 30s&#x27;</li>
            <li>Blackstar HT Club 50 Valve Amp Head</li>
            <li>TC Electronic RS 2 x 12 Bass Cabinet on request</li>
            <li>TC Electronic RH450 Bass Amp Head on request</li>
            <li>49 Key MIDI Keyboard Controller</li>
            <li>Korg MicroKorg Synthesizer on request</li>
            <li>Native Instruments Synthesizer Bundle</li>
            <li>Native Instruments Massive Synthesizer</li>
            <li>Waldorf Nave Synthesizer</li>
            <li>6 String Electric Guitars from Fender, Schecter &amp; Ibanez</li>
            <li>4 String Fender Jazz &amp; Precision Bass Guitars on request</li>
            <li>6 String Acoustic Guitars</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Microphones</button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        <ul>
            <li>Audix D6
                <br/>
            </li>
            <li>Audix D3</li>
            <li>Audio D4</li>
            <li>Lewitt LCT340</li>
            <li>Neumann U87ai ( on request )</li>
            <li>Slate Digital VMS System</li>
            <li>Sennheiser E906</li>
            <li>Shure SM57</li>
            <li>Shure SM58</li>
            <li>Shure SM7B</li>
            <li>SE Electronics R1 Ribbon</li>
            <li>SE Electronics Z5600a mkII Tube Mic</li>
            <li>Telefunken / AKG D19 Vintage Dynamic</li>
        </ul>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingFour">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">Monitoring , console and software</button>
        </h5>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
        <div class="card-body">
          <ul>
              <li>Apple Mac 3.33GHz 32GB RAM</li>
              <li>RME Fireface 802 Interface</li>
              <li>Tascam DM3200 32 Channel Console</li>
              <li>ADAM A77x 2.5 way monitors</li>
              <li>​Beyerdynamic DT770 Pro</li>
              <li>DS Extreme Isolation EX-29</li>
              <li>Pro Tools 12</li>
              <li>Logic Pro X</li>
              <li>Waves Bundles</li>
              <li>Slate Digital Everything Bundle</li>
              <li>Soundtoys Bundle</li>
              <li>Fabfilter Bundle</li>
              <li>Oeksound Soothe</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="black-section">
      <h2 id="testimonials">Testimonials</h2>
      <div>
          <div>
              <p class="grey"><em class="paragraph-2">&#x27;It was my first time recording and Charlie was very helpful and supportive, my band were recording a 5 track EP and we are very pleased with the result. A great experience.&#x27;</em> Fiona McIntyre via Facebook</p>
          </div>
          <p class="grey"><em class="italic-text-3">&#x27;What an amazing experience. Very thorough and professional. The recording sessions were a lot of fun and the end mix better than I could of imagined&#x27;</em> Tom Proctor via Facebook</p>
          <p class="paragraph-7"><em class="testimonials">&#x27;Our band, Northern Beauty, recently recorded our first EP at Magpie Studios. The results were excellent and have given us a collection of recorded songs that we are proud of. Great to work with and offers really good value for money.. we will be back, that&#x27;s for sure. All the guys at NB&#x27;</em> Jason Mannion via Facebook</p>
      </div>
  </div>

<div>Gallery</div>
<div>
    <div class="gallery"></div>
    <div class="gallery"></div>
    <div class="gallery"></div>
    <div class="gallery"></div>
    <div class="gallery"></div>
    <div class="gallery"></div>
    <div class="gallery"></div>
    <div class="gallery"></div>
</div>

</div>Get in touch</div>
<div>All projects at Magpie Studios Kent are of the highest fidelity at an affordable rate. If you need anymore information or would like to talk about your project, get in contact via the form below. We look forward to working with you.</div>


<div id="contact_form">
  <form>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="name" class="form-control" id="name" placeholder="Enter your name">
  </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="phone_number">Phone number</label>
    <input type="name" class="form-control" id="phone">
  </div>

  <div class="form-group">
    <label for="message">Your message</label>
    <textarea class="form-control" id="message" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>










<script>
  const sidebar = document.getElementById('sidebar');
  const button = document.getElementById('toggle');

  button.addEventListener('click', _ => {
    sidebar.classList.toggle('collapsed');
  });
</script>

</body>
</html>
