<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com -->
<!-- Last Published: Sat Feb 16 2019 16:45:28 GMT+0000 (UTC) -->
<html data-wf-domain="magpie-studios.webflow.io" data-wf-page="5c463a3854bc90c11434fd48" data-wf-site="5c463a3854bc908a0034fd43" data-wf-status="1">



<body>
    <div data-collapse="medium" data-animation="default" data-duration="400" data-no-scroll="1" class="left-navigation w-nav">
        <div class="container-4 w-container"><img src="https://uploads-ssl.webflow.com/5c463a3854bc908a0034fd43/5c463c663d86870ed41e9ce9_MAGPIESTUDIOSHI-RESwhite_d400-400x172.png" width="121" alt="" class="image-2" />
            <div class="hamburger-button w-nav-button">
                <div class="w-icon-nav-menu"></div>
            </div>
        </div>
        <nav role="navigation" class="nav-menu w-nav-menu"><a href="#home" class="nav-link w-nav-link">Home</a><a href="#about" class="nav-link w-nav-link">About</a><a href="#equipment" class="nav-link w-nav-link">Equipment</a><a href="#testimonials" class="nav-link w-nav-link">Testimonials</a><a href="#gallery" class="nav-link w-nav-link">Gallery</a><a href="#contact" class="nav-link w-nav-link">Contact</a></nav>
        <div class="social-footer w-hidden-medium w-hidden-small w-hidden-tiny">
            <a href="https://www.facebook.com/MagpieStudiosKent/" target="_blank" class="social-icon-link w-inline-block"><img src="https://uploads-ssl.webflow.com/5c463a3854bc908a0034fd43/5c463a3854bc90485534fd98_social-03-white.svg" width="15" alt="" /></a>
            <a href="https://www.instagram.com/magpiestudioskent/" target="_blank" class="social-icon-link w-inline-block"><img src="https://uploads-ssl.webflow.com/5c463a3854bc908a0034fd43/5c463a3854bc904ae834fd8b_social-08-white.svg" width="17" alt="" /></a>
            <a href="mailto:info@magpiestudioskent.com?subject=Contact%20from%20website" class="social-icon-link w-inline-block"><img src="https://uploads-ssl.webflow.com/5c463a3854bc908a0034fd43/5c463a3854bc90381b34fd94_social-30-white.svg" width="17" alt="" /></a>
        </div>
    </div>
    <div class="content">
        <div id="home" class="banner w-node-fdbb854b1255-1434fd48"><a href="#" class="hollow-button white">Login</a>
            <div></div>
            <div class="hero-title-wrapper">
                <h1 class="hero-heading">Magpie Studios kent<br/></h1>
                <h1 class="hero-subheading">Analog | Digital Hybrid Recording &amp; Production Studio in Kent</h1>
                <div class="hero-heading-3">Creating your record is easy with our experienced producers and engineers
                    <a href="https://www.magpiestudioskent.com/Studio-services">
                        <br/>
                    </a>
                </div>
            </div>
            <div class="hero-title-wrapper nobg"><a href="#contact" class="hollow-button red">Contact us</a></div>
        </div>
        <section id="about" class="section w-node-2c5517289a0e-1434fd48">
            <div class="w-layout-grid grid"></div>
            <div class="container-3 w-container">
                <div class="section-title-group">
                    <h2 id="about" class="section-heading centered">About</h2>
                    <div class="section-subheading center">Purpose-built analog/digital recording &amp; production studio set in the idyllic Kent countryside; creating the perfect escape from everyday life to focus on your record. With the studio teams&#x27; guidance and perseverance you can produce record label quality music.</div>
                </div>
                <div class="columns w-row">
                    <div class="column-0-padding w-col w-col-4">
                        <div class="div-block"><img src="https://uploads-ssl.webflow.com/5c463a3854bc908a0034fd43/5c6832edbd6ad5ae151bc40d_iconfinder_music-03_3250068.png" width="100" alt="" class="grid-image image-3" /></div>
                        <h3 class="heading-2">Studio day hire</h3>
                        <p class="paragraph-3">Hire the studio from £150 a day, including engineer</p>
                    </div>
                    <div class="column-0-padding w-col w-col-4">
                        <div class="div-block-2"><img src="https://uploads-ssl.webflow.com/5c463a3854bc908a0034fd43/5c68332580da2aaefc6b9efc_iconfinder_music-01_3250066.png" width="100" alt="" class="grid-image" /></div>
                        <h3 class="heading-3">Per hour Hire</h3>
                        <p>Studio hire per hour is available from £25, including engineer</p>
                    </div>
                    <div class="column-0-padding w-col w-col-4">
                        <div class="div-block-3"><img src="https://uploads-ssl.webflow.com/5c463a3854bc908a0034fd43/5c463a3854bc9038ff34fd60_feather-12-black.svg" width="100" alt="" class="grid-image" /></div>
                        <h3 class="heading-4">Audio / video Packages</h3>
                        <p>We offer video packages with Visual Line Ltd, a Kent-based video company, providing live studio sessions and recording diaries for bands and solo artists. Prices start at £200</p>
                    </div>
                </div>
            </div>
        </section>
        <p class="paragraph-6">Session musicians are available on request. Please get in contact for quotes</p>
        <section id="w-node-8c116dcdae4c-1434fd48" class="call-to-action-section">
            <div class="w-container">
                <h2 class="call-to-action-heading">Access your tracks. Any time. Anywhere.</h2></div>
            <div class="container-2 w-container">
                <p class="paragraph-5">When you choose Magpie Studios, you get access to MyMagpie. We&#x27;ll upload new mastered tracks to your account. They&#x27;ll always be available to you, whenever you need them.</p><a href="#" class="hollow-button clear w-button">Login</a></div>
        </section><a href="#" class="hollow-button white">Login</a>
        <section id="equipment" class="section w-node-ac535788c47c-1434fd48">
            <h2 class="section-heading centered">Outboard equipment, instruments and microphones</h2>
            <div class="w-row">
                <div class="w-col w-col-3">
                    <h1 class="equipment-heading">Outboard and preamps</h1>
                    <div class="rich-text-block-3 w-richtext">
                        <ul>
                            <li>Audient ASP800 8 Channel Mic Pre</li>
                            <li>RME Fireface 802</li>
                            <li>Slate Digital &#x27;VMS One&#x27; Mic Pre</li>
                            <li>Tech21 Sansamp RBI Bass Mic Pre</li>
                            <li>Tascam DM3200 Class A Console Mic Pre</li>
                            <li>Stam Audio SSL G Series Bus Compressor</li>
                            <li>Stam Audio SA76 (Bluestripe 1176)</li>
                            <li>Warm Audio WA76 (1176 RevD Blackface)</li>
                            <li>Warm Audio EQP-WA ( Pultec EQP1A Clone)</li>
                            <li>DBX 160a Compressor</li>
                            <li>DBX 266 XS Compressor</li>
                            <li>GateRadial Engineering Pro DI</li>
                        </ul>
                        <p>‍</p>
                    </div>
                </div>
                <div class="w-col w-col-3">
                    <h1 class="equipment-heading">In-house instruments and amps</h1>
                    <div class="rich-text-block-3 w-richtext">
                        <ul>
                            <li>5 Piece Mapex Drum Kit with Remo Clear Heads
                                <br/>
                            </li>
                            <li>Marshall 1960a Lead 300w 4 x 12 Guitar Cabinet w/ Vintage 30s&#x27;</li>
                            <li>Blackstar HT Club 50 Valve Amp Head</li>
                            <li>TC Electronic RS 2 x 12 Bass Cabinet on request</li>
                            <li>TC Electronic RH450 Bass Amp Head on request</li>
                            <li>49 Key MIDI Keyboard Controller</li>
                            <li>Korg MicroKorg Synthesizer on request</li>
                            <li>Native Instruments Synthesizer Bundle</li>
                            <li>Native Instruments Massive Synthesizer</li>
                            <li>Waldorf Nave Synthesizer</li>
                            <li>6 String Electric Guitars from Fender, Schecter &amp; Ibanez</li>
                            <li>4 String Fender Jazz &amp; Precision Bass Guitars on request</li>
                            <li>6 String Acoustic Guitars</li>
                        </ul>
                        <p>‍</p>
                    </div>
                </div>
                <div class="w-col w-col-3">
                    <h1 class="equipment-heading">Microphones</h1>
                    <div class="rich-text-block-3 w-richtext">
                        <ul>
                            <li>Audix D6
                                <br/>
                            </li>
                            <li>Audix D3</li>
                            <li>Audio D4</li>
                            <li>Lewitt LCT340</li>
                            <li>Neumann U87ai ( on request )</li>
                            <li>Slate Digital VMS System
                                <br/>
                            </li>
                            <li>Sennheiser E906
                                <br/>
                            </li>
                            <li>Shure SM57
                                <br/>
                            </li>
                            <li>Shure SM58
                                <br/>
                            </li>
                            <li>Shure SM7B
                                <br/>
                            </li>
                            <li>SE Electronics R1 Ribbon
                                <br/>
                            </li>
                            <li>SE Electronics Z5600a mkII Tube Mic</li>
                            <li>Telefunken / AKG D19 Vintage Dynamic</li>
                        </ul>
                        <p>‍</p>
                    </div>
                </div>
                <div class="w-col w-col-3">
                    <h1 class="equipment-heading">Monitoring , console and software</h1>
                    <div class="rich-text-block-3 w-richtext">
                        <ul>
                            <li>Apple Mac 3.33GHz 32GB RAM
                                <br/>
                            </li>
                            <li>RME Fireface 802 Interface</li>
                            <li>Tascam DM3200 32 Channel Console
                                <br/>
                            </li>
                            <li>ADAM A77x 2.5 way monitors
                                <br/>
                            </li>
                            <li>​Beyerdynamic DT770 Pro</li>
                            <li>DS Extreme Isolation EX-29
                                <br/>
                            </li>
                            <li>Pro Tools 12
                                <br/>
                            </li>
                            <li>Logic Pro X
                                <br/>
                            </li>
                            <li>Waves Bundles
                                <br/>
                            </li>
                            <li>Slate Digital Everything Bundle
                                <br/>
                            </li>
                            <li>Soundtoys Bundle
                                <br/>
                            </li>
                            <li>Fabfilter Bundle</li>
                            <li>Oeksound Soothe</li>
                        </ul>
                        <p>‍</p>
                    </div>
                </div>
            </div>
        </section>
        <div id="w-node-12174e7966e1-1434fd48" class="black-section">
            <h2 id="testimonials" class="center section-heading white">Testimonials</h2>
            <div class="w-layout-grid grid-2">
                <div id="w-node-e02477ea5b10-1434fd48">
                    <p class="grey"><em class="paragraph-2">&#x27;It was my first time recording and Charlie was very helpful and supportive, my band were recording a 5 track EP and we are very pleased with the result. A great experience.&#x27;</em> Fiona McIntyre via <a href="https://www.facebook.com/MagpieStudiosKent/" target="_blank">Facebook</a></p>
                </div>
                <p id="w-node-a3dbe80fd74c-1434fd48" class="grey"><em class="italic-text-3">&#x27;What an amazing experience. Very thorough and professional. The recording sessions were a lot of fun and the end mix better than I could of imagined&#x27;</em> Tom Proctor via <a href="https://www.facebook.com/MagpieStudiosKent/" target="_blank">Facebook</a></p>
                <p id="w-node-a2ede36b9d0c-1434fd48" class="paragraph-7"><em class="testimonials">&#x27;Our band, Northern Beauty, recently recorded our first EP at Magpie Studios. The results were excellent and have given us a collection of recorded songs that we are proud of. Great to work with and offers really good value for money.. we will be back, that&#x27;s for sure. All the guys at NB&#x27;</em> Jason Mannion via <a href="https://www.facebook.com/pg/MagpieStudiosKent/reviews/" target="_blank">Facebook</a></p>
            </div>
        </div>
        <section id="gallery" class="section w-node-7b23cda3aa9a-1434fd48">
            <div class="w-container">
                <div class="section-title-group">
                    <h2 class="section-heading centered">Studio Gallery</h2></div>
                <a href="#" class="grid-fours w-inline-block w-lightbox"><img src="https://uploads-ssl.webflow.com/5c463a3854bc908a0034fd43/5c5f390716bb6e7313495078_IMG-6333.JPG" srcset="https://uploads-ssl.webflow.com/5c463a3854bc908a0034fd43/5c5f390716bb6e7313495078_IMG-6333-p-500.jpeg 500w, https://uploads-ssl.webflow.com/5c463a3854bc908a0034fd43/5c5f390716bb6e7313495078_IMG-6333-p-800.jpeg 800w, https://uploads-ssl.webflow.com/5c463a3854bc908a0034fd43/5c5f390716bb6e7313495078_IMG-6333-p-1080.jpeg 1080w, https://uploads-ssl.webflow.com/5c463a3854bc908a0034fd43/5c5f390716bb6e7313495078_IMG-6333-p-1600.jpeg 1600w, https://uploads-ssl.webflow.com/5c463a3854bc908a0034fd43/5c5f390716bb6e7313495078_IMG-6333.JPG 1920w" sizes="(max-width: 479px) 28vw, (max-width: 767px) 29vw, (max-width: 991px) 162px, 16vw" alt="" />
                    <script type="application/json" class="w-json">{ "items": [ { "url": "https://uploads-ssl.webflow.com/5c463a3854bc908a0034fd43/5c463a3854bc904e2534fd53_1f510c30-500px.jpg", "fileName": "5c463a3854bc904e2534fd53_1f510c30-500px.jpg", "origFileName": "1f510c30-500px.jpg", "width": 500, "height": 500, "size": 28987, "type": "image" } ] }
                    </script>
                </a>
                <a href="#" class="grid-fours w-inline-block w-lightbox"><img src="https://uploads-ssl.webflow.com/5c463a3854bc908a0034fd43/5c5f3883bad52374bc144bb0_2018-04-27%2B14.10.20%2B1766763311556251807_2010944920.jpg" srcset="https://uploads-ssl.webflow.com/5c463a3854bc908a0034fd43/5c5f3883bad52374bc144bb0_2018-04-27%2B14.10.20%2B1766763311556251807_2010944920-p-500.jpeg 500w, https://uploads-ssl.webflow.com/5c463a3854bc908a0034fd43/5c5f3883bad52374bc144bb0_2018-04-27%2B14.10.20%2B1766763311556251807_2010944920-p-800.jpeg 800w, https://uploads-ssl.webflow.com/5c463a3854bc908a0034fd43/5c5f3883bad52374bc144bb0_2018-04-27%2B14.10.20%2B1766763311556251807_2010944920.jpg 1080w" sizes="(max-width: 479px) 28vw, (max-width: 767px) 29vw, (max-width: 991px) 162px, 16vw" alt="" />
                    <script type="application/json" class="w-json">{ "items": [ { "id": "5537c6aafdb0e2d6015c563b", "url": "https://uploads-ssl.webflow.com/5c463a3854bc908a0034fd43/5c463a3854bc9037da34fd57_1fbb59d6-500px.jpg", "fileName": "example-bg.png", "origFileName": "example-bg.png", "width": 250, "height": 250, "size": 3618, "type": "image" } ] }
                    </script>
                </a>
                <a href="#" class="grid-fours w-inline-block w-lightbox"><img src="https://uploads-ssl.webflow.com/5c463a3854bc908a0034fd43/5c5f3892d885ee996acf9309_2018-07-10%2B13.48.47%2B1820385867366168197_2010944920.jpg" srcset="https://uploads-ssl.webflow.com/5c463a3854bc908a0034fd43/5c5f3892d885ee996acf9309_2018-07-10%2B13.48.47%2B1820385867366168197_2010944920-p-500.jpeg 500w, https://uploads-ssl.webflow.com/5c463a3854bc908a0034fd43/5c5f3892d885ee996acf9309_2018-07-10%2B13.48.47%2B1820385867366168197_2010944920-p-800.jpeg 800w, https://uploads-ssl.webflow.com/5c463a3854bc908a0034fd43/5c5f3892d885ee996acf9309_2018-07-10%2B13.48.47%2B1820385867366168197_2010944920.jpg 1080w" sizes="(max-width: 479px) 28vw, (max-width: 767px) 29vw, (max-width: 991px) 162px, 16vw" alt="" />
                    <script type="application/json" class="w-json">{ "items": [ { "id": "5537c6aa5f1065d401ce049c", "url": "https://uploads-ssl.webflow.com/5c463a3854bc908a0034fd43/5c463a3854bc9087c034fd5a_2jEqzi01Ru2HBhGLTBgB_MG_5236-500px.jpg", "fileName": "example-bg.png", "origFileName": "example-bg.png", "width": 250, "height": 250, "size": 3618, "type": "image" } ] }
                    </script>
                </a>
                <a href="#" class="grid-fours w-inline-block w-lightbox"><img src="https://uploads-ssl.webflow.com/5c463a3854bc908a0034fd43/5c5f38a116bb6e3dbe495020_2018-04-13%2B10.37.13%2B1756509179067191305_2010944920.jpg" srcset="https://uploads-ssl.webflow.com/5c463a3854bc908a0034fd43/5c5f38a116bb6e3dbe495020_2018-04-13%2B10.37.13%2B1756509179067191305_2010944920-p-500.jpeg 500w, https://uploads-ssl.webflow.com/5c463a3854bc908a0034fd43/5c5f38a116bb6e3dbe495020_2018-04-13%2B10.37.13%2B1756509179067191305_2010944920-p-800.jpeg 800w, https://uploads-ssl.webflow.com/5c463a3854bc908a0034fd43/5c5f38a116bb6e3dbe495020_2018-04-13%2B10.37.13%2B1756509179067191305_2010944920.jpg 1080w" sizes="(max-width: 479px) 28vw, (max-width: 767px) 29vw, (max-width: 991px) 162px, 16vw" alt="" />
                    <script type="application/json" class="w-json">{ "items": [ { "url": "https://uploads-ssl.webflow.com/5c463a3854bc908a0034fd43/5c463a3854bc90601734fd5e_2c0343f7-500px.jpg", "fileName": "5c463a3854bc90601734fd5e_2c0343f7-500px.jpg", "origFileName": "2c0343f7-500px.jpg", "width": 500, "height": 500, "size": 21945, "type": "image" } ] }
                    </script>
                </a>
                <a href="#" class="grid-fours w-inline-block w-lightbox"><img src="https://uploads-ssl.webflow.com/5c463a3854bc908a0034fd43/5c5f3930050ea3e435a7ba5d_2018-04-08%2B11.52.04%2B1752922975798368716_2010944920.jpg" srcset="https://uploads-ssl.webflow.com/5c463a3854bc908a0034fd43/5c5f3930050ea3e435a7ba5d_2018-04-08%2B11.52.04%2B1752922975798368716_2010944920-p-500.jpeg 500w, https://uploads-ssl.webflow.com/5c463a3854bc908a0034fd43/5c5f3930050ea3e435a7ba5d_2018-04-08%2B11.52.04%2B1752922975798368716_2010944920-p-800.jpeg 800w, https://uploads-ssl.webflow.com/5c463a3854bc908a0034fd43/5c5f3930050ea3e435a7ba5d_2018-04-08%2B11.52.04%2B1752922975798368716_2010944920.jpg 1080w" sizes="(max-width: 479px) 28vw, (max-width: 767px) 29vw, (max-width: 991px) 162px, 16vw" alt="" />
                    <script type="application/json" class="w-json">{ "items": [ { "id": "5537c6ab5f1065d401ce049d", "url": "https://uploads-ssl.webflow.com/5c463a3854bc908a0034fd43/5c463a3854bc90c4f834fd5b_3ae98ccd-500px.jpg", "fileName": "example-bg.png", "origFileName": "example-bg.png", "width": 250, "height": 250, "size": 3618, "type": "image" } ] }
                    </script>
                </a>
                <a href="#" class="grid-fours w-inline-block w-lightbox"><img src="https://uploads-ssl.webflow.com/5c463a3854bc908a0034fd43/5c5f3954050ea3bc74a7ba91_IMG_2544-2448x2448.JPG" srcset="https://uploads-ssl.webflow.com/5c463a3854bc908a0034fd43/5c5f3954050ea3bc74a7ba91_IMG_2544-2448x2448-p-500.jpeg 500w, https://uploads-ssl.webflow.com/5c463a3854bc908a0034fd43/5c5f3954050ea3bc74a7ba91_IMG_2544-2448x2448-p-800.jpeg 800w, https://uploads-ssl.webflow.com/5c463a3854bc908a0034fd43/5c5f3954050ea3bc74a7ba91_IMG_2544-2448x2448-p-1080.jpeg 1080w, https://uploads-ssl.webflow.com/5c463a3854bc908a0034fd43/5c5f3954050ea3bc74a7ba91_IMG_2544-2448x2448-p-1600.jpeg 1600w, https://uploads-ssl.webflow.com/5c463a3854bc908a0034fd43/5c5f3954050ea3bc74a7ba91_IMG_2544-2448x2448.JPG 1920w" sizes="(max-width: 479px) 28vw, (max-width: 767px) 29vw, (max-width: 991px) 162px, 16vw" alt="" />
                    <script type="application/json" class="w-json">{ "items": [ { "id": "5531240438615e9e376d44cd", "url": "https://uploads-ssl.webflow.com/5c463a3854bc908a0034fd43/5c463a3854bc90c1f934fd56_4JUAYmLTuS1mBvBBwe3D_St_Anton-500px.jpg", "fileName": "example-bg.png", "origFileName": "example-bg.png", "width": 250, "height": 250, "size": 3618, "type": "image" } ] }
                    </script>
                </a>
                <a href="#" class="grid-fours w-inline-block w-lightbox"><img src="https://uploads-ssl.webflow.com/5c463a3854bc908a0034fd43/5c5f396df3edce237dc012ba_2018-02-04%2B16.51.53%2B1707443206349085603_2010944920.jpg" srcset="https://uploads-ssl.webflow.com/5c463a3854bc908a0034fd43/5c5f396df3edce237dc012ba_2018-02-04%2B16.51.53%2B1707443206349085603_2010944920-p-500.jpeg 500w, https://uploads-ssl.webflow.com/5c463a3854bc908a0034fd43/5c5f396df3edce237dc012ba_2018-02-04%2B16.51.53%2B1707443206349085603_2010944920-p-800.jpeg 800w, https://uploads-ssl.webflow.com/5c463a3854bc908a0034fd43/5c5f396df3edce237dc012ba_2018-02-04%2B16.51.53%2B1707443206349085603_2010944920.jpg 1080w" sizes="(max-width: 479px) 28vw, (max-width: 767px) 29vw, (max-width: 991px) 162px, 16vw" alt="" />
                    <script type="application/json" class="w-json">{ "items": [ { "id": "5537c6ab5f1065d401ce049e", "url": "https://uploads-ssl.webflow.com/5c463a3854bc908a0034fd43/5c463a3854bc90e55034fd52_1w6iAjLXSHa5OYRSYAjd__MG_1162-500px.jpg", "fileName": "example-bg.png", "origFileName": "example-bg.png", "width": 250, "height": 250, "size": 3618, "type": "image" } ] }
                    </script>
                </a>
                <a href="#" class="grid-fours w-inline-block w-lightbox"><img src="https://uploads-ssl.webflow.com/5c463a3854bc908a0034fd43/5c5f398616bb6ef79c4950cc_2018-05-04%2B18.33.01%2B1771968947369919252_2010944920.jpg" srcset="https://uploads-ssl.webflow.com/5c463a3854bc908a0034fd43/5c5f398616bb6ef79c4950cc_2018-05-04%2B18.33.01%2B1771968947369919252_2010944920-p-500.jpeg 500w, https://uploads-ssl.webflow.com/5c463a3854bc908a0034fd43/5c5f398616bb6ef79c4950cc_2018-05-04%2B18.33.01%2B1771968947369919252_2010944920-p-800.jpeg 800w, https://uploads-ssl.webflow.com/5c463a3854bc908a0034fd43/5c5f398616bb6ef79c4950cc_2018-05-04%2B18.33.01%2B1771968947369919252_2010944920.jpg 1080w" sizes="(max-width: 479px) 28vw, (max-width: 767px) 29vw, (max-width: 991px) 162px, 16vw" alt="" />
                    <script type="application/json" class="w-json">{ "items": [ { "id": "5537c6ab76ee39080f7f1b88", "url": "https://uploads-ssl.webflow.com/5c463a3854bc908a0034fd43/5c463a3854bc90ca8b34fd5f_4e769802-500px.jpg", "fileName": "example-bg.png", "origFileName": "example-bg.png", "width": 250, "height": 250, "size": 3618, "type": "image" } ] }
                    </script>
                </a>
            </div>
        </section>
        <section id="contact" class="section section-gray w-node-507bc873a726-1434fd48">
            <h2 class="section-heading centered">Contact us</h2>
            <div class="w-container"><img src="https://uploads-ssl.webflow.com/5c463a3854bc908a0034fd43/5c5f3f42050ea3ab77a7be82_Screen%20Shot%202019-02-09%20at%2020.58.48.png" srcset="https://uploads-ssl.webflow.com/5c463a3854bc908a0034fd43/5c5f3f42050ea3ab77a7be82_Screen%20Shot%202019-02-09%20at%2020.58.48-p-500.png 500w, https://uploads-ssl.webflow.com/5c463a3854bc908a0034fd43/5c5f3f42050ea3ab77a7be82_Screen%20Shot%202019-02-09%20at%2020.58.48-p-800.png 800w, https://uploads-ssl.webflow.com/5c463a3854bc908a0034fd43/5c5f3f42050ea3ab77a7be82_Screen%20Shot%202019-02-09%20at%2020.58.48.png 1060w" sizes="(max-width: 767px) 96vw, (max-width: 991px) 728px, 70vw" alt="" /></div>
            <div class="w-container">
                <div class="section-title-group">
                    <h1 class="section-subheading">We&#x27;d love to hear from you</h1>
                    <div class="section-subheading center">All projects at Magpie Studios Kent are of the highest fidelity at an affordable rate. If you need anymore information or would like to talk about your project, get in contact via the form below. We look forward to working with you.</div>
                </div>
                <div class="form-wrapper squeezed w-form">
                    <form id="email-form" name="email-form" data-name="Email Form">
                        <input type="text" id="name-7" name="name-7" data-name="Name 7" placeholder="Name" maxlength="256" class="form-field w-input" />
                        <input type="text" class="form-field w-input" maxlength="256" name="Phone-number" data-name="Phone number" placeholder="Phone number" id="Phone-number" required="" />
                        <input type="email" id="email-9" name="email-9" data-name="Email 9" placeholder="Email" maxlength="256" required="" class="form-field w-input" />
                        <textarea id="field-4" name="field-4" placeholder="Message" maxlength="5000" data-name="Field 4" class="form-field text-area w-input"></textarea>
                        <input type="submit" value="Send Message" data-wait="Please wait..." class="button full-width w-button" />
                    </form>
                    <div class="success-message w-form-done">
                        <p class="paragraph-form">Thank you! Your submission has been received!</p>
                    </div>
                    <div class="success-message w-form-fail">
                        <p class="paragraph-form">Oops! Something went wrong while submitting the form :(</p>
                    </div>
                </div>
            </div>
        </section>
        <footer id="w-node-5c0fc1903b9d-1434fd48" class="footer center"></footer>
    </div>
    <script src="https://d1tdp7z6w94jbb.cloudfront.net/js/jquery-3.3.1.min.js" type="text/javascript" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://uploads-ssl.webflow.com/5c463a3854bc908a0034fd43/js/webflow.43ff5d18a.js" type="text/javascript"></script>
    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
</body>

</html>

<!-- Side navigation -->
<!-- <div class="sidenav">
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div> -->

<!-- Page content -->
<div class="hero-banner">
  <h1>Magpie Studios Kent</h1>
  <h2>Analog | Digital Hybrid Recording & Production Studio in Kent</h2>
  <p>Creating your record is easy with our experienced producers and engineers</p>
</div>



About

Purpose-built analog/digital recording & production studio set in the idyllic Kent countryside; creating the perfect escape from everyday life to focus on your record. With the studio teams' guidance and perseverance you can produce record label quality music.

CSS grid 3 icons

Access you tracks anywhere




<!-- This is where all the controls will show if someone is an admin and logged in -->
<div class="admin-controls">
<% if current_user.try(:admin?) %>
<ul><%= link_to 'View all tracks', admin_tracks_path %></ul>
<% end %>
</div>
