

<!-- Side navigation -->
<!-- <div class="sidenav">
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div> -->

<!-- Page content -->
<div class="hero-banner">
  <h1>Magpie Studios Kent</h1>
  <h2>Analog | Digital Hybrid Recording & Production Studio in Kent</h2>
  <p>Creating your record is easy with our experienced producers and engineers</p>
</div>



About

Purpose-built analog/digital recording & production studio set in the idyllic Kent countryside; creating the perfect escape from everyday life to focus on your record. With the studio teams' guidance and perseverance you can produce record label quality music.

CSS grid 3 icons

Access you tracks anywhere
