<div style="background-color: #000;">
  <a href="/">
    <img src="/assets/magpielogo.png" class="logo" style="width:80px; ">
  </a>
</div>

<p id="notice"><%= notice %></p>


<div class="col-md-8 offset-md-2">
<div class="card">
  <div>
  <h2 class="card-header">Admin area</h2>
  <div class="card-body">Manage your tracks here</div>
  </div>
  <div style="padding:1rem; ">
  <%= render "layouts/tracklist" %>

  <% if @admin %>
<div style="margin-top: 1rem;">
<%= link_to 'Add new track +', new_track_path, class: "btn btn-warning btn-lg" %>
</div>
  <% end %>
</div>


</div>
</div>
