/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 html, body {
   width: 100%;
   height: 100%;
   margin: 0;
   scroll-behavior: smooth;
 }



.nav-top {
  text-align: right;
  height: 70px;
  background-color: #000;
}

.menu-top {
  margin: 0 30px 0 0;
  display: block!important;
}

.menu-left a {
  margin: 0 0 0 0;
  display: block!important;
  text-align: center;
  line-height: 2rem;
}

.menu-top a {
  text-decoration: none;
  color: gray;
  margin: 0 10px;
  line-height: 70px;
}

label-hamburger {
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none!important;
}

#toggle {
  display: none;
}

ul {
  font-size: 1rem;
}

a {
  color: #fff;
}

a:hover {
  color: #e2a62b;
  text-decoration: none;
}

.hidden  {
  display: none;
}

button {
  background-color: #e2a62b;
  font-size: 2rem;
}

button:hover {
  color: #000;
}

.link {
  color: #e2a62b;
}

/* a:active {
  color: #e2a62b;
}

a:hover {
  color: #e2a62b !important;
}

a:visited {
  color: #fff;
} */

.logo {
  width: 100%;
}

.nav-link {
  display: block;
  padding: 20px 0px;
  color: #e2a62b;
  font-size: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;

}

.nav-link a:hover {
  color: #e2a62b !important;
}

.main-banner-container {
  position: relative;
  color: white;
  height: 100%;
}

.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner-image {
  height: auto;
  width: auto;
}

.wrapper {
    display: flex;
    width: 100%;
}






/* Style page content */
body {
  height: 100%;
  padding-left: none !important;
  background-color: #edeff2;
  font-family: Oswald, sans-serif;
  color: rgba(0, 0, 0, .74);
  font-size: 16px;
  line-height: 20px;
}


p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

table {
  margin: auto;
  width: 60%;
  padding: 1.5rem;
  background-color: #000;
}



td {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  text-align: center;
  text-color: #fff;
}

th {
  text-align: center !important;
  padding: 0.5, 0.5, 0.5, 0.5 !important;
  text-color: #fff;
}

.container {
  padding: 2rem;
}




#sidebar, #content {
  height: 100%;
  overflow:auto;
  float:left;
  /* transition: width .35s; */
}

#sidebar {
  background:#000;
  width: 20%;
}


#content {

  width: 80%;
}

.footer {
height:40px;
width:20%;
    position:absolute;
    bottom:0;
text-align: center;
}




.hero-banner {
      position: relative;
      display: block;
      height: 100%;
      max-height: auto;
      background-image: url(https://irp-cdn.multiscreensite.com/418effdf/dms3rep/multi/desktop/15590691_10155512098708942_8757120314579847317_o.jpg), linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5));
      background-position: 0px 0px, 0px 0px;
      background-size: cover, auto;
      font-family: Lato, sans-serif;
}

.hero-banner-wrapper {
  position: relative;
  top: 40%;
  display: block;
  overflow: visible;
  margin-bottom: 0px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #000;
  opacity: 0.79;
  -webkit-transition: opacity 775ms ease;
  transition: opacity 775ms ease;
  text-align: center;
}

.hero-heading {
  margin: 0rem 10px 19px;
font-family: Lato, sans-serif;
color: #fff;
font-size: 2rem;
line-height: 2rem;
font-weight: 400;
letter-spacing: 3px;

}

.hero-subheading {
  margin-bottom: 25px;
    font-family: Lato, sans-serif;
    color: #fff;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 300;
}

.hero-minorheading {
  font-family: Lato, sans-serif;
color: #f0f0f0;
font-size: 1rem;
line-height: 1.5rem;
}

.card-services {
  min-height: 320px;
}

.card-img-top {
  position: relative;
    left: 0%;
    right: 0%;
    float: none;
    text-align: left;
    justify-content: center;
    max-height: 7rem;
}

.section-block {
  padding: 2rem 2rem 2rem 2rem;
  font-family: Lato, sans-serif;
  font-weight: 400;
}

.section-yellow {
  padding: 2rem 2rem 2rem 2rem;
  background-color: #e2a62b;
  font-family: Lato, sans-serif;
  font-weight: 400;
}

.section-darkgrey {
  background-color: #404047;
  padding: 2rem 2rem 2rem 2rem;
  font-family: Lato, sans-serif;
  font-weight: 400;
}

.section-lightgrey {
  background-color: #e1e1e1;
  padding: 2rem 2rem 2rem 2rem;
  font-family: Lato, sans-serif;
  font-weight: 400;

}

.cta-text {
  color: #f0f0f0;
  text-align: center;
  font-size: 1.5rem;

}

.cta-text p {
  margin-top: none !important;
}



.accordion-link {
  color:#000;
  text-decoration: underline !important;

}

.accordion-link:hover {
  color: #e2a62b !important;
  text-decoration: underline !important;
}





/*
Everything below here is for the gallery code

All grid code is placed in a 'supports' rule (feature query) at the bottom of the CSS (Line 310).

The 'supports' rule will only run if your browser supports CSS grid.

Flexbox and floats are used as a fallback so that browsers which don't support grid will still recieve a similar layout.

*/

/* Base Styles */

/* :root {
    font-size: 10px;
} */

*,
*::before,
*::after {
    box-sizing: border-box;
}






.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    font-size: 10px;

}

/* Gallery Section */

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem -1rem;
    padding-bottom: 3rem;
    font-size: 10px;

}

.gallery-item {
    position: relative;
    flex: 15rem;
    margin: 1rem;
    color: #fff;
    cursor: pointer;
    font-size: 10px;

}

.gallery-item:hover .gallery-item-info,
.gallery-item:focus .gallery-item-info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 10px;

}

.gallery-item-info {
    display: none;
    font-size: 10px;

}

.gallery-item-info li {
    display: inline-block;
    font-size: 1.7rem;
    font-weight: 600;
    font-size: 10px;

}



.gallery-item-type {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2.5rem;
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}

.fa-clone,
.fa-comment {
    transform: rotateY(180deg);
}

.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    font-size: 10px;

}





/*

The following code will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox & floated styling.

*/

@supports (display: grid) {

    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
        grid-gap: 2rem;
    }

    .gallery-item,
    .gallery {
        width: auto;
        margin: 0;
    }




@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;

  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar {
    text-align: center;
    float: none;
    display: none;
  }
}

.persistent-nav {
    position: absolute;
    width: 80%;
    margin-left: 20%;
    background-color: #000;
    height: 3rem;
}
}
